@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
  background-color: #F8FAFC;
  margin: 0;
  padding: 0;
}

textarea, button {
  font-family: inherit;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}